
        <!--//top-bar-->

        <section class="page-intro-section section has-profile-image mx-auto ">

          <div class="profile-holder text-center">
            <img class="profile-pic rounded-circle" src="/profile.png" alt="image">
          </div>
          <!--//profile-holder-->
          <div class="intro-holder">
            <h2 class="intro-name text-center">My Projects</h2>
            <div class="profile-intro text-center limit-max-width mx-auto">
              <p class="mb-4">
                Intro about projects goes here. Need help with your project? Book a free
                session with me to discuss your specific project requirements and how I can help you.
              </p>
              <div class="text-center mt-4">
                <a class="btn btn-secondary" href="contact.html">
                  Start A Conversation <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor"
                                            class="bi bi-arrow-right-short" viewBox="0 0 16 16">
                    <path fill-rule="evenodd"
                          d="M4 8a.5.5 0 0 1 .5-.5h5.793L8.146 5.354a.5.5 0 1 1 .708-.708l3 3a.5.5 0 0 1 0 .708l-3 3a.5.5 0 0 1-.708-.708L10.293 8.5H4.5A.5.5 0 0 1 4 8z" />
                  </svg>
                </a>
              </div>
              <!--//section-cta-->
            </div>

          </div>
          <!--//intro-holder-->

        </section>
        <!--//page-intro-section-->


        <section class="projects-section section mx-auto">
          <div class="row justify-content-center gx-lg-5">
            <div class="project-item col-12 col-md-6 col-lg-12 mb-5">
              <div class="project-item-inner row">
                <div class="col-12 col-lg-5 col-xl-4">
                  <img class="project-thumb rounded-2 mb-3 mb-lg-0 rounded mx-auto"
                       src="/projects/project-thumb-1.png" alt="image">
                </div>
                <div class="col-12 col-lg-7 col-xl-8">
                  <h3 class="title"><a href="case-study.html">Trading App Lorem</a></h3>
                  <div class="intro mb-3">
                    Project summary goes here. Lorem ipsum dolor sit amet,
                    consectetur adipiscing elit. In metus nunc, fringilla ut viverra ut, placerat
                    sed nisl. Ut eu nisi ut arcu volutpat vehicula.
                  </div>

                  <h4 class="subtitle">Tech Stack:</h4>
                  <ul class="tech-stack list-inline">
                    <li class="list-inline-item">
                      <img class="rounded"
                           src="/tech-icons/javascript.svg" alt="">
                    </li>
                    <li class="list-inline-item">
                      <img class="rounded"
                           src="/tech-icons/react.svg" alt="">
                    </li>
                    <li class="list-inline-item">
                      <img class="rounded"
                           src="/tech-icons/bootstrap5.svg" alt="">
                    </li>
                  </ul>

                  <a class="more-link" href="case-study.html">
                    View Case Study <span class="link-arrow"><i class="bi bi-arrow-right"></i></span>
                  </a>
                </div>
                <!--//col-->
              </div>
              <!--//project-item-inner-->
            </div>
            <!--//project-item-->

            <div class="project-item col-12 col-md-6 col-lg-12 mb-5">
              <div class="project-item-inner row">
                <div class="col-12 col-lg-5 col-xl-4">
                  <img class="project-thumb rounded-2 mb-3 mb-lg-0 rounded mx-auto"
                       src="/projects/project-thumb-11.png" alt="image">
                </div>
                <div class="col-12 col-lg-7 col-xl-8">
                  <h3 class="title"><a href="case-study.html">Smart TV App</a></h3>
                  <div class="intro mb-3">
                    Project summary goes here. Lorem ipsum dolor sit amet, Ut eu
                    nisi ut arcu volutpat vehicula.
                  </div>

                  <h4 class="subtitle">Tech Stack:</h4>

                  <ul class="tech-stack list-inline">
                    <li class="list-inline-item">
                      <img class="rounded"
                           src="/tech-icons/java.svg" alt="">
                    </li>
                    <li class="list-inline-item">
                      <img class="rounded"
                           src="/tech-icons/javascript.svg" alt="">
                    </li>
                    <li class="list-inline-item">
                      <img class="rounded"
                           src="/tech-icons/python.svg" alt="">
                    </li>
                    <li class="list-inline-item">
                      <img class="rounded"
                           src="/tech-icons/swift.svg" alt="">
                    </li>
                    <li class="list-inline-item">
                      <img class="rounded"
                           src="/tech-icons/kotlin.svg" alt="">
                    </li>
                  </ul>

                  <a class="more-link" href="case-study.html">
                    View Case Study <span class="link-arrow"><i class="bi bi-arrow-right"></i></span>
                  </a>
                </div>
                <!--//col-->
              </div>
              <!--//project-item-inner-->
            </div>
            <!--//project-item-->
            <div class="project-item col-12 col-md-6 col-lg-12 mb-5">
              <div class="project-item-inner row">
                <div class="col-12 col-lg-5 col-xl-4">
                  <img class="project-thumb rounded-2 mb-3 mb-lg-0 rounded mx-auto"
                       src="/projects/project-thumb-5.png" alt="image">
                </div>
                <div class="col-12 col-lg-7 col-xl-8">
                  <h3 class="title"><a href="case-study.html">Web App Ipsum</a></h3>
                  <div class="intro mb-3">
                    Project summary goes here. For projects which don't have
                    case studies you can link them to their GitHub pages instead.
                  </div>

                  <h4 class="subtitle">Tech Stack:</h4>
                  <ul class="tech-stack list-inline">
                    <li class="list-inline-item">
                      <img class="rounded"
                           src="/tech-icons/nodejs.svg" alt="">
                    </li>
                    <li class="list-inline-item">
                      <img src="/tech-icons/html5.svg"
                           alt="">
                    </li>
                    <li class="list-inline-item">
                      <img src="/tech-icons/css3.svg"
                           alt="">
                    </li>
                  </ul>

                  <a class="more-link" href="#">
                    View On Github<span class="link-arrow">
                      <i class="bi bi-arrow-right"></i>
                    </span>
                  </a>
                </div>
                <!--//col-->
              </div>
              <!--//project-item-inner-->
            </div>
            <!--//project-item-->

            <div class="project-item col-12 col-md-6 col-lg-12 mb-5">
              <div class="project-item-inner row">
                <div class="col-12 col-lg-5 col-xl-4">
                  <img class="project-thumb rounded-2 mb-3 mb-lg-0 rounded mx-auto"
                       src="/projects/project-thumb-6.png" alt="image">
                </div>
                <div class="col-12 col-lg-7 col-xl-8">
                  <h3 class="title"><a href="case-study.html">Chrome Extension Maecenas</a></h3>
                  <div class="intro mb-3">
                    Project summary goes here. Sed vel vestibulum dolor. Nam
                    nisl ipsum, tristique ut aliquam vel, dignissim eget dui. Praesent quis
                    imperdiet ex.
                  </div>

                  <h4 class="subtitle">Tech Stack:</h4>
                  <ul class="tech-stack list-inline">
                    <li class="list-inline-item">
                      <img class="rounded"
                           src="/tech-icons/typescript.svg" alt="">
                    </li>
                    <li class="list-inline-item">
                      <img class="rounded"
                           src="/tech-icons/solidity.svg" alt="">
                    </li>
                  </ul>

                  <a class="more-link" href="case-study.html">
                    View Case Study <span class="link-arrow"><i class="bi bi-arrow-right"></i></span>
                  </a>
                </div>
                <!--//col-->
              </div>
              <!--//project-item-inner-->
            </div>
            <!--//project-item-->


            <div class="project-item col-12 col-md-6 col-lg-12 mb-5">
              <div class="project-item-inner row">
                <div class="col-12 col-lg-5 col-xl-4">
                  <img class="project-thumb rounded-2 mb-3 mb-lg-0 rounded mx-auto"
                       src="/projects/project-thumb-4.png" alt="image">
                </div>
                <div class="col-12 col-lg-7 col-xl-8">
                  <h3 class="title"><a href="case-study.html">Data Analytics App</a></h3>
                  <div class="intro mb-3">
                    Project summary goes here. Lorem ipsum dolor sit amet,
                    consectetur adipiscing elit. In metus nunc, fringilla ut viverra ut, placerat
                    sed nisl.
                  </div>

                  <h4 class="subtitle">Tech Stack:</h4>
                  <ul class="tech-stack list-inline">
                    <li class="list-inline-item">
                      <img class="rounded"
                           src="/tech-icons/react.svg" alt="">
                    </li>
                    <li class="list-inline-item">
                      <img class="rounded"
                           src="/tech-icons/vue.svg" alt="">
                    </li>
                    <li class="list-inline-item">
                      <img class="rounded"
                           src="/tech-icons/html5.svg" alt="">
                    </li>
                  </ul>

                  <a class="more-link" href="case-study.html">
                    View Case Study <span class="link-arrow"><i class="bi bi-arrow-right"></i></span>
                  </a>
                </div>
                <!--//col-->
              </div>
              <!--//project-item-inner-->
            </div>
            <!--//project-item-->
          </div>
          <!--//row-->

          <div class="section-cta text-center d-grid col-6 mx-auto">
            <a class="btn btn-secondary">Load More <span class="d-none d-lg-inline">projects</span></a>
          </div>

        </section>
        <!--//section-->

        <section class="leadgen-section section mx-auto">

          <h3 class="section-heading text-start text-md-center text-highlight">
            Need Help With Your Project?
          </h3>
          <div class="intro text-md-center">
            Lead generation intro goes here lorem ipsum dolor sit amet,
            consectetur adipiscing elit. Suspendisse placerat egestas dui, quis ullamcorper massa
            pellentesque quis.
          </div>
          <div class="text-center mt-4">
            <a class="btn btn-secondary" href="contact.html">
              Get In Touch <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor"
                                class="bi bi-arrow-right-short" viewBox="0 0 16 16">
                <path fill-rule="evenodd"
                      d="M4 8a.5.5 0 0 1 .5-.5h5.793L8.146 5.354a.5.5 0 1 1 .708-.708l3 3a.5.5 0 0 1 0 .708l-3 3a.5.5 0 0 1-.708-.708L10.293 8.5H4.5A.5.5 0 0 1 4 8z">
                </path>
              </svg>
            </a>
          </div>

        </section>
        <!--//leadgen-section-->


    <!--//main-content-wrapper-->

  <!--//row-->
  <!--//container-->

  <footer class="footer text-center py-4">
    <small class="copyright">
    </small>
  </footer>

  <div id="config-panel" class="config-panel config-panel-hide d-none d-lg-block">
    <div class="panel-inner">
      <a id="config-trigger" class="config-trigger text-center" href="#">
        <i class="fas fa-cog mx-auto"
           data-fa-transform="down-6"></i>
      </a>

    </div>
  </div>



