<div class="main-content-wrapper">
  <div class="container-fluid">
 
    <section class="page-intro-section section has-profile-image mx-auto">

      <div class="profile-holder text-center">
        <img class="profile-pic rounded-circle" src="profile.png" alt="image">
      </div><!--//profile-holder-->
      <div class="intro-holder">
        <h2 class="intro-name text-center mb-3">Sudesh Bagawe</h2>
        <div class="profile-intro text-md-center limit-max-width mx-auto">
          <p>Hi! I’m a Senior Developer with more than ten years of experience working in mobile banking apps. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Welcome to my online portfolio! Check out my <a href="projects.html">latest projects and case studies</a>.</p>
        </div>
      </div><!--//intro-holder-->

      <div class="section-cta text-center mt-4">
        <a class="btn btn-secondary theme-btn-cta" href="resume.html">
          View Resume<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi bi-arrow-right-short" viewBox="0 0 16 16">
            <path fill-rule="evenodd" d="M4 8a.5.5 0 0 1 .5-.5h5.793L8.146 5.354a.5.5 0 1 1 .708-.708l3 3a.5.5 0 0 1 0 .708l-3 3a.5.5 0 0 1-.708-.708L10.293 8.5H4.5A.5.5 0 0 1 4 8z"></path>
          </svg>
        </a>
      </div><!--//section-cta-->

    </section><!--//page-intro-section-->

    <section class="featured-projects-section section mx-auto">
      <h3 class="section-heading mb-4">Featured Projects</h3>
      <div class="section-intro mb-5 limit-max-width mx-auto text-md-center">Brief intro goes here. My main experience lies in building lorem ipsum dolor sit amet, consectetur adipiscing elit. I'm currently working on lacinia tristique.</div>
      <div class="featured-project-list container">
        <div class="row justify-content-center gy-4">
          <div class="col-12 col-md-6 col-lg-4">
            <div class="card">
              <img src="/projects/project-thumb-1.png" class="card-img-top" alt="image">
              <div class="card-body px-0">
                <h5 class="card-title"><a href="case-study.html">Trading App</a></h5>
                <p class="card-text mb-1">Project summary goes here. Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                <div><a class="card-link more-link" href="case-study.html">View more <span class="link-arrow"><i class="bi bi-arrow-right"></i></span></a></div>
              </div>
            </div><!--//card-->
          </div><!--//col-->
          <div class="col-12 col-md-6 col-lg-4">
            <div class="card">
              <img src="/projects/project-thumb-6.png" class="card-img-top" alt="image">
              <div class="card-body px-0">
                <h5 class="card-title"><a href="case-study.html">Browser Extension</a></h5>
                <p class="card-text mb-1">Project summary goes here. Cras vehicula felis sed eros lacinia rhoncus.</p>
                <div><a class="card-link more-link" href="case-study.html">View more <span class="link-arrow"><i class="bi bi-arrow-right"></i></span></a></div>
              </div>
            </div><!--//card-->
          </div><!--//col-->
          <div class="col-12 col-md-6 col-lg-4">
            <div class="card">
              <img src="/projects/project-thumb-4.png" class="card-img-top" alt="image">
              <div class="card-body px-0">
                <h5 class="card-title"><a href="case-study.html">Data Analytics App</a></h5>
                <p class="card-text mb-1">Project summary goes here. Maecenas eget finibus risus. Etiam volutpat elit pellentesque felis dignissim, tempor maximus est commodo.</p>
                <div><a class="card-link more-link" href="case-study.html">View more <span class="link-arrow"><i class="bi bi-arrow-right"></i></span></a></div>

              </div>
            </div><!--//card-->
          </div><!--//col-->

        </div><!--//row-->
        <div class="section-cta text-center mt-3">
          <a class="btn btn-secondary theme-btn-cta" href="projects.html">
            More Projects<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi bi-arrow-right-short" viewBox="0 0 16 16">
              <path fill-rule="evenodd" d="M4 8a.5.5 0 0 1 .5-.5h5.793L8.146 5.354a.5.5 0 1 1 .708-.708l3 3a.5.5 0 0 1 0 .708l-3 3a.5.5 0 0 1-.708-.708L10.293 8.5H4.5A.5.5 0 0 1 4 8z"></path>
            </svg>
          </a>
        </div><!--//section-cta-->
      </div><!--//project-list-->

    </section><!--//projects-section-->

    

    <section class="skills-section section mx-auto mb-0">
      <h3 class="section-heading mb-4">Skills &amp; Experiences</h3>
      <div class="section-intro mb-5 limit-max-width text-md-center">
        Section intro goes here. Lorem ipsum dolor sit amet, consectetur adipiscing elit. You can replace or add more tech icons below to reflect your skillset.
      </div><!--//section-intro-->
      <div class="row tech-list justify-content-center align-items-center">

        <div class="icon-item col-4 col-md-3 col-lg-2 mb-3 mb-lg-5"><img class="rounded" src="/tech-icons/javascript.svg" alt=""></div>
        <div class="icon-item col-4 col-md-3 col-lg-2 mb-3 mb-lg-5"><img class="rounded" src="/tech-icons/nodejs.svg" alt=""></div>
        <div class="icon-item col-4 col-md-3 col-lg-2 mb-3 mb-lg-5"><img class="rounded" src="/tech-icons/typescript.svg" alt=""></div>
        <div class="icon-item col-4 col-md-3 col-lg-2 mb-3 mb-lg-5"><img class="rounded" src="/tech-icons/react.svg" alt=""></div>
        <div class="icon-item col-4 col-md-3 col-lg-2 mb-3 mb-lg-5"><img class="rounded" src="/tech-icons/angular.svg" alt=""></div>
        <div class="icon-item col-4 col-md-3 col-lg-2 mb-3 mb-lg-5"><img class="rounded" src="/tech-icons/bootstrap5.svg" alt=""></div>

        <div class="clearfix"></div>
        <div class="icon-item col-4 col-md-3 col-lg-2 mb-3 mb-lg-5"><img class="rounded" src="/tech-icons/python.svg" alt=""></div>
        <div class="icon-item col-4 col-md-3 col-lg-2 mb-3 mb-lg-5"><img class="rounded" src="/tech-icons/django-alt.svg" alt=""></div>
        <div class="icon-item col-4 col-md-3 col-lg-2 mb-3 mb-lg-5"><img class="rounded" src="/tech-icons/solidity.svg" alt=""></div>
        <div class="icon-item col-4 col-md-3 col-lg-2 mb-3 mb-lg-5"><img class="rounded" src="/tech-icons/golang.svg" alt=""></div>
        <div class="icon-item col-4 col-md-3 col-lg-2 mb-3 mb-lg-5"><img class="rounded" src="/tech-icons/c++.svg" alt=""></div>
        <div class="icon-item col-4 col-md-3 col-lg-2 mb-3 mb-lg-5"><img class="rounded" src="/tech-icons/php.svg" alt=""></div>

        <div class="icon-item col-4 col-md-3 col-lg-2 mb-3 mb-lg-5"><img class="rounded" src="/tech-icons/postgresql.svg" alt=""></div>
        <div class="icon-item col-4 col-md-3 col-lg-2 mb-3 mb-lg-5"><img class="rounded" src="/tech-icons/redis.svg" alt=""></div>
        <div class="icon-item col-4 col-md-3 col-lg-2 mb-3 mb-lg-5"><img class="rounded" src="/tech-icons/mongodb.svg" alt=""></div>
      </div><!--//tech-list-->
      <div class="section-cta text-center mt-4">
        <a class="btn btn-secondary theme-btn-cta" href="resume.html">
          View Resume <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi bi-arrow-right-short" viewBox="0 0 16 16">
            <path fill-rule="evenodd" d="M4 8a.5.5 0 0 1 .5-.5h5.793L8.146 5.354a.5.5 0 1 1 .708-.708l3 3a.5.5 0 0 1 0 .708l-3 3a.5.5 0 0 1-.708-.708L10.293 8.5H4.5A.5.5 0 0 1 4 8z"></path>
          </svg>
        </a>
      </div><!--//section-cta-->

      <div class="skill-blocks py-5 row justify-content-center">
        <div class="item col-md-6 col-lg-4 text-md-center">
          <div class="item-icon-holder mx-md-auto"><i class="item-icon bi bi-terminal"></i></div>
          <h3 class="item-title mb-3">Web Development</h3>
          <div class="item-desc">
            Describe your expertise here. You can change the icon above to any of the <a href="https://icons.getbootstrap.com/" targert="_blank">free Bootstrap icons</a>, consectetur adipiscing elit. Phasellus enim quam, gravida accumsan dignissim eu.
          </div><!--//item-desc-->
        </div><!--//item-->
        <div class="item col-md-6 col-lg-4 text-md-center">
          <div class="item-icon-holder  mx-md-auto"><i class="item-icon bi bi-database-check"></i></div>
          <h3 class="item-title mb-3">Database Infrastructure</h3>
          <div class="item-desc">
            Describe your expertise here. You can change the icon above to any of the free Bootstrap icons, consectetur adipiscing elit. Phasellus enim quam, gravida accumsan dignissim eu.
          </div><!--//item-desc-->
        </div><!--//item-->
        <div class="item col-md-6 col-lg-4 text-md-center">
          <div class="item-icon-holder  mx-md-auto"><i class="item-icon bi bi-infinity"></i></div>
          <h3 class="item-title mb-3">DevOps</h3>
          <div class="item-desc">
            Describe your expertise here. You can change the icon above to any of the free Bootstrap icons, consectetur adipiscing elit. Phasellus enim quam, gravida accumsan dignissim eu.
          </div><!--//item-desc-->
        </div><!--//item-->
        <div class="item col-md-6 col-lg-4 text-md-center">
          <div class="item-icon-holder  mx-md-auto"><i class="item-icon bi bi-apple"></i></div>
          <h3 class="item-title mb-3">iOS App <br>Development</h3>
          <div class="item-desc">
            Describe your expertise here. You can change the icon above to any of the free Bootstrap icons, consectetur adipiscing elit. Phasellus enim quam, gravida accumsan dignissim eu.
          </div><!--//item-desc-->
        </div><!--//item-->
        <div class="item col-md-6 col-lg-4 text-md-center">
          <div class="item-icon-holder  mx-md-auto"><i class="item-icon bi bi-android2"></i></div>
          <h3 class="item-title mb-3">Android App <br>Development</h3>
          <div class="item-desc">
            Describe your expertise here. You can change the icon above to any of the free Bootstrap icons, consectetur adipiscing elit. Phasellus enim quam, gravida accumsan dignissim eu.
          </div><!--//item-desc-->
        </div><!--//item-->
      </div><!--//skill-blocks-->
      <div class="section-cta text-center">
        <a class="btn btn-secondary theme-btn-cta" href="contact.html">
          Get In Touch <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi bi-arrow-right-short" viewBox="0 0 16 16">
            <path fill-rule="evenodd" d="M4 8a.5.5 0 0 1 .5-.5h5.793L8.146 5.354a.5.5 0 1 1 .708-.708l3 3a.5.5 0 0 1 0 .708l-3 3a.5.5 0 0 1-.708-.708L10.293 8.5H4.5A.5.5 0 0 1 4 8z"></path>
          </svg>
        </a>
      </div><!--//section-cta-->
    </section><!--//skills-section-->

  </div>
</div>
